body {
    background: whitesmoke;
    margin: 0;
    font-family: Inter;
}

body.dark-mode {
    background-color: #333; 
    color: whitesmoke;

    a {
        color: whitesmoke; /* Link bianchi */
    }
    .logo {
        filter: invert(100%); /* Inverti i colori delle icone */
    }

    h1, h2, h3, p {
        color: whitesmoke;

        
    }

    .container_column .column {
        border-color: whitesmoke; 
    }
}


.header_green {
    width: 100%;
    background: #2a5a2a;
    height: calc(500px - 50vw);
    min-height: 120px; 
    max-height: 100%;  
}

.header_blue {
    width: 100%;
    background: #1f1a79;
    height: calc(500px - 50vw);
    min-height: 120px; 
    max-height: 100%;  
}

.header_red {
    width: 100%;
    background: #a60e0e;
    height: calc(500px - 50vw);
    min-height: 120px; 
    max-height: 100%;  
}

@media only screen and (max-width: 793px) {
    #header {
        height: 250px;
    }
}

@media only screen and (max-width: 320px) {
    #header {
        height: 200px;
    }
}

.sub_header_green {
    width: 100%;
    height: 30px;
    background: #357135;
    
}

.sub_header_blue {
    width: 100%;
    height: 30px;
    background: #324199;
    
}

.sub_header_red {
    width: 100%;
    height: 30px;
    background: #da3c3c;
    
}
#title {
    margin-left: 2%;
    top: 60px;
    color: whitesmoke;
    font-size: 100px;
    font-family: Inter;
    font-style: italic;
    font-weight: 100;
    word-wrap: break-word;
    width: 100%; 
}


.container_link{
    display: flex;
    justify-content: space-between; 
    justify-content: space-evenly; 
    width: 100%;
    margin-top: 3vh; 
    
}
.container_link .logo {
    width: 40px;
    height: 40px;  
}

.container_column {
    display: flex;
    justify-content: center;  
    width: calc(100% - 60px); 
    box-sizing: border-box;
    margin-top: 15px;

}

.container_column .column {
    width: 50%;
    box-sizing: border-box;
    margin-left: 60px;
    text-align: center;     
    border-radius: 20px; 
    
}

.container_column .column h2 {
    font-style: italic;
}

.container_column .column h3 {
    font-style: italic;
    margin-top: 10px;
}

.link{    
    text-decoration: none;
}

.link:visited {
    color: black
}

.container_curriculum {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    max-width: 800px; 
    margin: 0 auto;  
}

.container_curriculum .left-column,
.container_curriculum .right-column {
    padding: 20px;
}

.container_curriculum .left-column {
    border-right: 1px solid #ccc;
}

.container_curriculum .profile-picture {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%; 
}

.container_curriculum .data_share {
    font-size: smaller;
    margin-top: 60px;
}

.container_curriculum h1{
    text-align: center;

}

.fixed-circle {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(255, 239, 58);
}

.img_mode {
    width: 50px;
    height: 50px;  
}

.container_column .column {
    width: 30%;
    box-sizing: border-box;
    border: 2px solid black; 
}


@media (max-width: 768px) {
    .container_column {
        flex-direction: column; 
    }
    .container_column .column {
        width: 90%; 
        
    }
}

.container_column .column h3 {
    transition: transform 0.2s ease;
  }
  
  .container_column .column h3:hover {
    transform: scale(1.2);
  }

  .container_link .logo {
    transition: transform 0.2s ease;
  }
  
  .container_link .logo:hover {
    transform: scale(1.2); 
  }

  .container_column .column {
    
    background-color: #BCCEA9; 
}

.container_column .column h3 {
 
    color: #357135; 
}

.container_column .column h2 {
   
    color: #2a5a2a; 
}
body.dark-mode .container_column .column {
    background-color: #2a5a2a; 
  }
  
  body.dark-mode .container_column .column h2 {
    color: white; 
  }

  body.dark-mode .container_column .column h3 {
    color: #d3d3d3;
  }
  
  body.dark-mode .container_column .column p {
    color: #a9a9a9; 
  }
  .container_column .column p {
    color: #292929; 
  }